 /* ThemeColor One */
.careerfy-fancy-title-three i,.careerfy-testimonial-nav li:hover i {
    color: #12cd6a;
}
.careerfy-banner-search-three input[type="submit"],.careerfy-banner-search-three input[type="submit"]:hover,.careerfy-fancy-left-title a:hover,.featured-jobs-grid-like:hover,
.careerfy-services-stylethree ul li:hover span,.careerfy-priceplan-style5:hover .careerfy-priceplan-style5-btn,.active .careerfy-priceplan-style5-btn {
    background-color: #12cd6a;
}
 {
    border-color: #12cd6a;
}